<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
    <div class="field">
      <%= form.text_field :email %><br/>
      <%= form.submit "Reset my password!" %>
    </div>
  <% end %>