<%= @editable %>
<div class="main">
  <div class="container containerResp">
    <div class="titlePage">
      <label>COMPLETAR DADOS</label>
    </div>
    <center>
      <div class="middle">
        <div id="login" class="loginResponsive" style="border-right: 0px !important;">
          <%= render 'form' %>
        </div>
      </div>
    </center>
  </div>
</div>