<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<div class="mainInterlegis">
  <div class="container ">
    <div class="titlePage">
      <label style="letter-spacing: 0.2em;"></label>
    </div>
    <center>
      <div class="middle">
        <div id="login" class="loginResponsive" style="border-right: 0px !important;">
          <div class="formInterlegis">
            <%= form_with scope: :user, local: true do |f| %>
              <fieldset class="clearfix paddingClearfixResponsive">
                <div>
                  <img class="imgLogoInterlegis" src="https://i.imgur.com/FhrwRa0.png">
                </div>
                <div style="width:350px;" class="inputAllResponsive">
                  <p><span class="fa fa-at"></span><%= f.text_field :email, :required => true, placeholder: "E-Mail", style: 'width: 300px', class:' inputResponsive' %></p>
                  <p><span class="fa fa-lock"></span><%= f.password_field :password, :required => true, placeholder: "Senha", style: 'width: 300px', class:' inputResponsive' %> </p>
                  <div class="ui-group-buttons" style="width: 100% !important;">
                    <a href="/" class="btn btn-danger" role="button" style="width: 49%;"><span class="glyphicon glyphicon-remove"></span> Voltar</a>
                    <div class="or"></div>
                    <button class="btn btn-success" style="width: 49%;"><span class="glyphicon glyphicon-ok"></span> Login</button>
                  </div>
                </div>
                <div>
                </div>
              </fieldset>
              <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            <% end %>
            </div>
      </div>
    </center>
  </div>
</div>